@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

*{
    padding: 0;
    margin: 0;
} 


/*MOBILE FIRST*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}


.wrapper{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "contenido"
    "footer";
}


header, footer, nav{
    display: grid;
    justify-content: center;
    background-color: maroon;
    height: auto;
    color:whitesmoke;
    padding: 10px;
    width:100%;
}

nav ul{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.logo img{
    width: 90%;
}

nav ul {
    margin: 5px;
}
nav ul li{
    list-style: none;
    text-transform: uppercase;
    margin-left: 5px;
    margin-top: 10px;
}
.menu li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1px;
    margin-right: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: outset;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;

    }


.redesSociales{
    display:flex;
    justify-content: center;

}

.redesSociales figure{
    padding-left: 2rem;
}

.copyRight{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:11px;
    text-align: center;
}

.main-header{
    grid-area: header;
}

.main-nav{
    grid-area: nav;
}

.contenido, .resp, .contacto, .servicios, .clientes{
    grid-area: contenido;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right:1rem;
    gap: 1rem
}

.grilla{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    row-gap: 1rem;
}

.titulos{
    grid-area:titulos;
}

.texto{
    grid-area: texto;
    align-self: start;
}

.media{
    grid-area: media;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formulario{
    grid-area: formulario;
    align-self: start;
    margin-bottom:1rem;
}

.detalle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    grid-area:detalle;
}

.infoIzq{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    border-style: hidden;
    border-radius: 3rem;
    padding: 2rem;
    background-color: rgb(240, 172, 172);
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.infoDer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    border-style: hidden;
    border-radius: 3rem;
    padding: 2rem;
    background-color: rgb(240, 227, 227);
}

h1{
    color: maroon;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
}

h2{
    color: rgb(185, 19, 19);
    padding: 10px;

} 


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding-top: 1rem;
}

.media img{
    margin:1rem;
    width: 90%;
}

.scout li{
    margin:1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: "⚜";
    padding-left: 0.5cm;
    
}

.caracteristicas li{
    margin:1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: "✔" ;
    padding-left: 0.5cm;
}


@media screen and (min-width:600px){
    .contenido{
        display: grid;
        grid-template-columns: 0.25fr 2fr 1fr 0.25fr;
        grid-template-areas: 
        ". titulos titulos ."
        ". texto media .";
        align-items: end;
    }
    .resp{
        display: grid;
        grid-template-columns: 1fr 2fr 0.1fr;
        grid-template-areas: 
        "media texto .";
        align-items: center;
    }
    .contacto{
        display: grid;
        grid-template-columns: 0.25fr 2fr 1fr;
        grid-template-areas: 
        ". texto ."
        ". formulario .";
        gap:2rem
    }    

    .texto{
        margin-left: 1rem;
        margin-right:0rem;
    }
    .media{
        width: 100%;
        margin-left: 0;
        align-self:center;
    }
}


@media screen and (min-width:1024px){
    .main-header{
        justify-content: start;
    }

    .main-nav{
        justify-content: start;
    }


    .contenido{
        display: grid;
        grid-template-columns: 0.25fr 2fr 1fr 0.25fr;
        grid-template-areas: 
        ". titulos titulos ."
        ". texto media .";
        align-items: end;
    }
    .resp{
        display: grid;
        grid-template-columns: 1fr 2fr 0.1fr;
        grid-template-areas: 
        "media texto .";
        align-items: center;
    }
    .servicios{
        display: grid;
        grid-template-columns: 0.1fr 3fr 0.1fr;
        grid-template-areas: 
        ". detalle .";
    }
    .infoIzq{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        gap:1rem;
        border-style: hidden;
        border-radius: 3rem;
        padding: 2rem;
        background-color: rgb(240, 172, 172);
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .infoDer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap:1rem;
        border-style: hidden;
        border-radius: 3rem;
        padding: 2rem;
        background-color: rgb(240, 227, 227);
    }

    .texto{
        margin-left: 1rem;
        margin-right:0rem;
    }
    .media {
        height: 1fr;
        margin-left: 0;
        align-self: center;
    }
    footer{
        justify-content: start;
    }
}

@media screen and (min-width:1200px){
    .contenido{
        display: grid;
        grid-template-columns: 0.25fr 2fr 1fr 0.25fr;
        grid-template-areas: 
        ". titulos titulos ."
        ". texto media .";
        align-items: end;
    }
    .resp{
        display: grid;
        grid-template-columns: 1fr 2fr 0.1fr;
        grid-template-areas: 
        "media texto .";
        align-items: center;
    }
}
/*
.menu li{
    border-style: outset;
    list-style:none;
    margin-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.header{
    grid-area: header;
    padding: 1rem;
}

.contenido{
    grid-area: contenido;
    padding-left: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;


}

.rubrik{
    display: flex;
    align-items: right;
}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color:maroon;

}








.redesSociales{
    display:flex;
    justify-content: flex-start;

}

.redesSociales figure{
    padding-left: 2rem;
}


/* HEADER */

/*
header{
    background-color:maroon;
    height:auto;
    width: 100%;
    background-repeat:repeat ;
    background-attachment: scroll;
    position: sticky;
    top: 0px;
}



nav ul li{
    display: inline-block;
    border-style: outset;

}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem;
}

/*
/* MAIN */
/*
main{
    background-color: whitesmoke;
    height:100%;
    width: 100%;
    color:rgb(69, 69, 69)
}


h1{
    color: maroon;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
}

h2{
    color: rgb(185, 19, 19);
    padding: 10px;

} 


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding-top: 1rem;
}


table{
    padding: 1rem;
    width: fit-content;
}

table td{
    padding-right: 5px;
    padding-top: 1rem;
}

.tdMedia{
    padding-right: 5px;
    padding-left:1rem;
    padding-top: 1rem;
}

form{
    padding-top:1rem;
    line-height:2rem;
    
}

 form label {
    margin: 1rem;

}

form textarea {
    margin-left:1rem;
    height:10rem;
    width: 20rem;

}

form div {
    margin-left: 1rem;
}

form input {
    margin-left: 1rem;
}

.cuerpo{
    padding: 1rem;
}






.boldItalic{
    font-weight: bold;
    font-style: italic;
}

.rubrik img{
    width: 600px;
    padding:20px;
}


*/
/* FOOTER */
/*
footer{
    background-color:maroon;
    color: whitesmoke;
    height:auto;
    width: 100%;
}

footer ul{
    margin-left: 1rem;
}

footer ul li a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration:none;
    color: white;
}


footer h3{
    margin-top:1rem;
    margin-left:1rem;
}


ul li{
    list-style-type: none;

}

footer ul li{
    display: inline-block;
    vertical-align: middle;
}

.listaNombre{
    padding-right: 1rem;
}


}*/